label { display: block; margin-bottom: 5px; }
html { overflow-x: hidden !important; }
body { margin: 0; font-family: Helvetica, Arial, sans-serif; }
div, section, article, input, textarea, select, img, iframe { box-sizing: border-box; }
nav { display: flex; align-items: center; align-items: center; width: 100%; justify-content: center; }
nav li { list-style: none; padding: 0 1em; }
nav a { text-decoration: none; }
header nav a { color: white; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: 'Oswald', sans-serif; font-weight: 300; text-transform: uppercase; }
h1 { font-size: 5.5em; line-height: 1.1em }
h2 { font-size: 3em; margin-bottom: .5em; }
h3 { font-size:2em; }
li { line-height: 1.5em !important; margin-bottom: 1em; }
p { overflow: hidden; line-height: 1.75em; }
p img.pull-left { margin: 0 2em 2em 0; }
p img.pull-right { margin: 0 0 2em 2em; }
strong { color: rgb(58,182,118); font-weight: normal; }
input, select { width: 100%; padding: 1em 1.5em; max-width: 350px; margin-bottom: 1em; margin-right: .5em; }
textarea { width: 100%; padding: 1em 1.5em; font-family: Helvetica, Arial, sans-serif; margin-bottom: 1em; }
a { color: rgb(58,182,118); }
footer { padding: 2.5%; text-align: center; color: gray; }
cite { display: block; text-align: right; line-height: 1.5em; margin-bottom: 4em !important; }
table.grid { border-collapse: collapse; width: 100%; margin: 2.5vw 2.5%; }
table.grid td { border: 10px solid white; height: 250px; background-size: cover !important; }

#header { color: white; padding: 1em 2em; color: white; position: absolute; z-index: 1; box-shadow: 0 0 20px rgba(0,0,0,.18); left: 0; right: 0; }
#header .logo img { width: 200px; }
#header .phone { width: 250px; text-align: right; display: flex; align-items: center; justify-content: flex-end; }
#nav { display: none; background: rgb(64,64,64); flex-direction: column; padding: 1em 0; }
#nav a { color: white; }
#nav li { padding: .5em 0; }
#copyright { font-size: 10pt; opacity: .5; }
#phone-small-screen { display: none; background: rgb(64,64,64); padding: 1em; color: white; text-align: center; }

.alert { padding: 1em 1.5em; border: 1px solid; }
.alert.success { background: rgba(0,255,0,.1); border-color: rgba(0,255,0,.3); }
.align-center { text-align: center; }
.button { background: none; padding: 1em 2em; text-transform: uppercase; text-decoration: none; cursor: pointer; display: inline-block; border: 2px solid black; color: black; }
.button.white { border-color: white; color: white; }
.button.green { border-color: rgb(58,182,118); color: rgb(58,182,118); }
[class^="col-"] { padding: 5vw 5%; }
.col-1 { width: 8.33%; }
.col-2 { width: 16.67%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100; }
.color-1 { color: #3AB676; border-color: #3AB676; }
.color-2 { color: #3B7EA6; border-color: #3B7EA6; }
.color-3 { color: #FFB151; border-color: #FFB151; }
.color-4 { color: #FF7B51; border-color: #FF7B51; }
.fa-check { display: block; }
.fa-check::before { color: rgb(58,182,118); margin-right: .5em; }
.flex { display: flex; }
.gray { background: rgb(245,245,245); }
.inline-block { display: inline-block; margin-right: .5em; }
.inverted { background: rgb(64,64,64); color: white; }
.inverted .button { background: rgb(64,64,64); color: white; border-color: white; }
.loading { width: 25px; height: 25px; }
.margin-top-0 { margin-to: 0; }
.panel { box-shadow: 0 2px 4px rgba(0,0,0,.33); }
.panel .panel-header { background: rgb(58,182,118); color: white; padding: 1em 1.5em; }
.panel .panel-header h3 { margin: 0; }
.panel .panel-body { padding: 1em; height: 100%; }
.panel > ul { padding: none !important; margin: 0; }
.panel > ul li:nth-child(even) { background: rgb(245,245,245); }
.panel > ul li { padding: 15px; margin: 0 !important; }
.panel .panel-footer { padding: 1em 1.5em; background: rgb(235,235,235); }
.popup { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.75); overflow: auto; }
.popup .panel { background: white; padding: 5vw 5%; max-width: 600px; margin: 0 auto; }
.popup .panel > img { width: 100%; }
.quote { font-size: 2em; font-family: Oswald; font-weight: 300; margin-bottom: .5em; display: flex; }
.quote .quote-symbol { font-size: 5em; display: block; position: relative; bottom: -45px; opacity: .5; }
.row { display: flex; }
.show-lg { display: none; }
.show-md { display: none; }
.show-sm { display: none; }
.strike { display: inline-block; }
.strike .line { border-bottom: 2px solid red; margin-top: -.75em; position: relative; }
.thumbnail { width: 165px; height: 165px; margin: .5em; padding: .5em; background: white; background: white; box-shadow: 0 2px 5px rgba(0,0,0,.25); display: inline-block; vertical-align: top; cursor: pointer; }
.thumbnail > div { height: 100%; display: flex; align-items: center; justify-content: center; }
.thumbnail img { max-width: 150px; max-height: 150px; }
.toggle-nav { display: none; padding: none; border: none; background: none; color: white; cursor: pointer; float: right; }
.videoWrapper {
	position: relative !important;
	padding-bottom: 56.25% !important; /* 16:9 */
	padding-top: 25px !important;
	height: 0 !important;
    width: 97% !important;
}
.videoWrapper iframe {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

/*****************
* Home Sections
******************/

/* hero */
#hero { text-align: center; background: url('/img/home/hero.jpg') black no-repeat; background-size; cover; background-position: right; position: relative; }
#hero h3 { font-size: 1.75em !important; font-family: Helvetica, Arial, sans-serif;; }
#hero .content { color: white; padding: 12.5vw 5% 5vw; }
#hero #types { padding: 0; list-style: none; text-transform: uppercase; }
#hero #types li { display: inline-block; padding: 0 1em; border-right: 1px solid white; }
#hero #types li:last-child { border-right: none; }

#awards { padding: 2.5vw 2.5%; text-align: center; background: rgba(0,0,0,.75); }
#awards > img { max-width: 175px; margin: .5em .25em; opacity: .5; }

/*#quotes { background: black; color: white; }*/
#quotes .row [class^="col-"] { padding: 0; }
#quotes .row [class^="col-"] img { width: 100%; }

#about { line-height: 2em; display: flex; }
#about > div { width: 50%; padding: 5vw 5%; }
#about #icons > div { text-align: center; }
#about #icons > div > div { display: inline-block; margin: 0 .5em; padding: 1em 0; width: 86px; border-radius: 100%; border: 1px solid white; opacity: .5; }
#about #icons > div > i { opacity: .5; font-size: 25px; position: relative; top: -10px; }
#about #icons > div > div > i { font-size: 25px; }
#about #icons > div > div > div { font-size: 10pt; margin-top: -10px; }
#about #icons { text-align: center; }

#packages [class^="col-"] { padding: 0; position: relative; text-align: center; margin: .5em; }
#packages [class^="col-"] ul { text-align: left; padding: 0; }
#packages [class^="col-"] ul li { display: flex; }

#services { display: flex; padding: 2.5%; }
#services > div { padding: 2.5%; }
#services #systems > div { cursor: pointer; border: 1px solid; width: 125px; height: 115px; padding: 1em; margin: .5em; text-align: center; display: inline-block; vertical-align: top; }
#services #systems > div > div { display: flex; align-items: center; height: 100%; justify-content: center; }
#services #systems > div > div > div > i { font-size: 25px; display: block; margin-bottom: .25em; }
#services #systems > div i { font-size: 25px; }

#portfolio { padding: 5vw 5%; }

#imgPopup > .panel { max-width: 1000px; }

#pricing { padding: 5vw 5%; }
#additional-services [class^="col-"] { padding: 5vw 5%; }

#ceo { display: flex; }
#ceo > div { width: 50%; padding: 5vw 5%; }

@media (max-width: 1600px) {
    #hero { background-position: 140% 0; }
}

@media (max-width: 1300px) {
    h2 { font-size: 2em; margin-bottom: .5em; }
    section { display: block !important; }
    section > div { width: 100% !important; }
    img { width: 100%; }

    .show-lg { display: inherit; }

    #hero { background-image: none; }

    #about #icons > div > div { display: inline-block; margin: 0 .25em; padding: .5em 0; width: 69px; border-radius: 100%; border: 1px solid white; opacity: .5; }
    #about #icons > div > div > i { font-size: 18px; }
    #about #icons > div > div > div { font-size: 9pt; margin-top: -12px; }
    #about #icons > div > i { opacity: .5; font-size: 12.5px; position: relative; top: -5px; }
}

@media (max-width: 1000px) {
    .row { display: inherit; }
    [class^="col-"] { width: 100%; }
    .show-md { display: inherit; }
}

@media (max-width: 800px) {
    footer { padding: 10% 5%; }
    footer nav { display: inherit; }
    footer nav li { display: inline-block; }
    p .pull-left { float: none; display: block; }
    p .pull-right { float: none; display: block; }
    h1 { font-size: 13vw !important; }
    table.grid { margin: 0; }
    table.grid td { border: 5px solid white; height: 150px; background-size: cover !important; }

    .quote { font-size: 1.5em; }
    .quote .quote-symbol { bottom: -33px; }
    .show-sm { display: inherit; }

    #hero h3 { font-size: 4.1vw !important; }

    #types { font-size: 4.28vw !important; margin: 0 !important; }
    #types li { border: none !important; padding: 0 .5em !important; margin: 0 !important; }

    #header { justify-content: space-between; }
    #header .logo img { width: 150px; }
    #header .phone { font-size: 10pt; margin: 0 1em; }
    #header .toggle-nav { display: inherit !important; }
    #header nav { display: none; }

    #about { display: inherit !important; }
    #about > div { width: 50%; padding: 10% 5%; }

    #ceo > div { padding: 10% 5%; }
}

@media (max-width: 400px) {
    #header .phone { display: none; }
    #phone-small-screen { display: block; }
    .thumbnails .thumbnail, .thumbnails .thumbnail img { width: 125px; background: none; box-shadow: none; }
}
